USE [Master_Data]
GO
/****** Object:  Table [dbo].[KodePos]    Script Date: 11/3/2017 4:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KodePos](
	[Code] [varchar](50) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK__KodePos__A25C5AA6CD9CA960] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KodePos] ([Code], [Name]) VALUES (N'10000', N'KTR POS BESAR KLAS 1')
INSERT [dbo].[KodePos] ([Code], [Name]) VALUES (N'10001', N'KANTOR POS BESAR KLA')
INSERT [dbo].[KodePos] ([Code], [Name]) VALUES (N'10002', N'KTR POS BESAR KLAS1')
GO
