USE [Master_Data]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 11/3/2017 4:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Currency](
	[CURRENCY] [varchar](50) NOT NULL,
	[SYMBOL] [varchar](10) NOT NULL,
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Currency] ON 

INSERT [dbo].[Currency] ([CURRENCY], [SYMBOL], [CurrencyId]) VALUES (N'Andoran peseta', N'ADP', 146)
INSERT [dbo].[Currency] ([CURRENCY], [SYMBOL], [CurrencyId]) VALUES (N'United Arab Emirates Dirham', N'AED', 147)
INSERT [dbo].[Currency] ([CURRENCY], [SYMBOL], [CurrencyId]) VALUES (N'Afghani (Old)', N'AFA', 148)
GO
SET IDENTITY_INSERT [dbo].[Currency] OFF
